
.cellTableWidget {
}

.cellTableFirstColumn {
	border-left: 1px solid #AAAAAA;
}

.cellTableLastColumn {
	border-right: 1px solid #AAAAAA;
	color: #D58A4E;	
}

@sprite .cellTableFooter {
  gwt-image: 'cellTableFooterBackground';
  background-color: #dadada;

  border-bottom: 0;
  border-right: 1px solid #AAAAAA;

  padding: 0px 10px;
  text-align: left;
  color: #4b4a4a;
  overflow: hidden;
}

@sprite .cellTableHeader {
    gwt-image: 'cellTableHeaderBackground' ;   
   background-image: url("ui-bg_gloss-wave_75_2191c0_500x100.png repeat-x scroll 50% bottom #FCFDFD"); 
  background-color: #dadada;  
  border-bottom: 1px solid #AAAAAA;       
   border-right: 1px solid #F3F3F3;
    border-left: 1.5px solid #F3F3F3;
  height:30px;
  padding: 0px 10px;
  text-align: left;
  color: #ffffff; /*Header Font Color*/  
  overflow: hidden;
  max-height: 28px !important;
  white-space: nowrap;
  text-shadow: none !important;
  text-decoration: none;
}

.cellTableCell {
	border: 1.5px solid #F3F3F3;
	height: 20px;
	padding: 4px 10px;
	overflow: hidden;
	vertical-align: top;
}

.cellTableCell ul {
	margin: 0;
	padding-left: 12px;
}

.cellTableFirstColumnFooter {
  -moz-border-radius-bottomleft: 8px;
}

.cellTableFirstColumnHeader {  
  border-top-left-radius: 7px !important;
}

.cellTableLastColumnFooter {
  -moz-border-radius-bottomright: 8px;
  border-right: 0;
}

.cellTableLastColumnHeader {
	border-right: 0;
	border-top-right-radius: 7px !important;
}

.cellTableSortableHeader {
  cursor: pointer;
  cursor: hand;
}

.cellTableSortableHeader:hover {
  color: #6c6b6b;
}

.cellTableSortedHeaderAscending {

}

.cellTableSortedHeaderDescending {

}

.cellTableEvenRow {
	 background: #FCFDFD;  
}
.cellTableEvenRowCell {
  /* background: #ffffff; */
}

.cellTableOddRow {
  background: #F3FAFC;
}
.cellTableOddRowCell {
  /* background: #eee; */
}

.cellTableHoveredRow {
  background: #77BBD8;
}

.cellTableHoveredRowCell {
  background: #77BBD8;
}

.cellTableEvenYesRow {
  background: #ffffff;
}

.cellTableOddYesRow {
  background: #eee;
}

.cellTableEvenNoRow {	 
	background: #FCFDFD;
}

.cellTableOddNoRow {
	background: #F3FAFC;
}

.cellTableKeyboardSelectedRow {
  background: #77BBD8;
  color: #000;
}

.cellTableKeyboardSelectedRowCell {
  
}

@sprite .cellTableSelectedRow {
  gwt-image: 'cellTableSelectedBackground';
  background-color: #77BBD8;
  color: #000000;
  height: auto;
  overflow: auto;
}

.cellTableSelectedRowCell {
  background: #77BBD8;
}

.cellTableKeyboardSelectedCell {
  background: #77BBD8;
}

.cellTableLoading {
  margin: 10px auto 0;
}

