<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">

	<display-name>LogBook</display-name>
	<description>LogBook application</description>

	<context-param>
		<param-name>contextClass</param-name>
		<param-value>org.springframework.web.context.support.AnnotationConfigWebApplicationContext</param-value>
	</context-param>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>ch.unibas.medizin.logbook.server.spring.ApplicationConfig</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<filter>
        <filter-name>openEntityManagerInViewFilter</filter-name>
        <filter-class>org.springframework.orm.jpa.support.OpenEntityManagerInViewFilter</filter-class>
    </filter>
    
    <filter>
        <filter-name>hiddenHttpMethodFilter</filter-name>
        <filter-class>org.springframework.web.filter.HiddenHttpMethodFilter</filter-class>
    </filter>
    
    <filter>
        <filter-name>characterEncodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>forceEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    
    <filter-mapping>
        <filter-name>openEntityManagerInViewFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    <filter-mapping>
        <filter-name>characterEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    <filter-mapping>
        <filter-name>hiddenHttpMethodFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

	<servlet>
		<servlet-name>requestFactory</servlet-name>
		<servlet-class>ch.unibas.medizin.logbook.server.CustomRequestFactoryServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>requestFactory</servlet-name>
		<url-pattern>/gwtRequest</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>skillPdfExport</servlet-name>
		<servlet-class>ch.unibas.medizin.logbook.server.servlet.SkillPdfExport</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>skillPdfExport</servlet-name>
		<url-pattern>/SkillPdfExport</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>exportCSV</servlet-name>
		<servlet-class>ch.unibas.medizin.logbook.server.servlet.CsvFileGenerator</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>exportCSV</servlet-name>
		<url-pattern>/exportCSV</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>eventService</servlet-name>
		<servlet-class>de.novanic.eventservice.service.EventServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>eventService</servlet-name>
		<url-pattern>/logbook/gwteventservice</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>csvFileGenerator</servlet-name>
		<servlet-class>ch.unibas.medizin.logbook.server.CsvFileGeneratorServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>csvFileGenerator</servlet-name>
		<url-pattern>/logbook/CsvFileGenerator</url-pattern>
	</servlet-mapping>

	<!-- For Authorization -->
	<!-- Uncomment for production mode -->
	<filter>
		<filter-name>authenticationFilter</filter-name>
		<filter-class>ch.unibas.medizin.logbook.server.filter.AuthenticationFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>authenticationFilter</filter-name>
		<url-pattern>*.html</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>authenticationFilter</filter-name>
		<url-pattern>/gwtRequest</url-pattern>
	</filter-mapping>

	<welcome-file-list>
		<welcome-file>LogBookEntry.html</welcome-file>
	</welcome-file-list>

</web-app>
